/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 5rem; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    color: #f1f1f1;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: grey;
  }

  .loginbutton {
    margin-top: 5%;
    outline: none;
    background-color: transparent;
  }
  
  .logincontainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
 
  .roundedimg {
    width: 60%;
    height: 60%;
    border-radius: 100%;
    background: #eee no-repeat center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition-duration: 0.4s;
}

.roundedimg:hover {
  opacity: 80%;
}

.navbarnav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navitem {
  width: 100%;
}

.navitem:last-child {
  position: absolute;
  bottom: 0;
}

.navlink {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 8rem;
  text-decoration: none;
}

.navlink a {
  display: flex;
  align-items: center;
  color: var(--text-primary);
  text-decoration: none;
  color: #f1f1f1;
  transition: 0.3s;
}

.navlink a {
  size: 90%;
}


.navlink svg {
  min-width: 2rem;
  width: 3em;
  padding: 6px;
}

.navlink a span {
  display: block;
  margin-left: 3rem;
}


.sidenav:hover {
  width: 16rem;
}

 /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
 @media only screen and (max-height: 620px) {
  .sidenav {
    display: none;
  }
 }